
<section  class="londonMap2">
        <div class="bg-text-box">
            <h1>Welcome to Things To Do In London<br>Come on, Lets get started!</h1>        
        </div>
    </section>
<center>
<section  id="about" class="section-aboutme">
            <center>
                <h2>London</h2>
                <div class="row">
                    <p>"When a man is tired of London, he is tired of life," said Samuel Johnson.</p>
                    <p> He spoke the truth. Whether you're looking for West End musicals,</p>
                    <p> double decker buses, Sherlock Holmes pubs, or Kate Middleton lunch spots, </p>
                    <p>the British capital has something to offer you.</p>
                </div>
            </center>
      </section>
     
<section  class="londonMap">
        <div class="row">
        </div>
    </section>
</div>
<section id ="photos" class="section-photos">
    <div class="row">
        <br>
         <h2>Lets See Some Photos</h2>
         <br>
     </div>
     <ul class="showcase clearfix">
         <li>
             <figure class="myphoto1">
                 <img src="resources/img/1.jpg" alt="1">
             </figure>
         </li>
         <li>
             <figure class="myphoto1">
                  <img src="resources/img/2.jpg" alt="2">
             </figure>
         </li>
         <li>
             <figure class="myphoto1">
                  <img src="resources/img/3.jpg" alt="3">
             </figure>
         </li>
         <li>
             <figure class="myphoto1">
                  <img src="resources/img/4.jpg" alt="4">
             </figure>
         </li>
     </ul>
      <ul class="showcase clearfix">
         <li>
             <figure class="myphoto1">
                 <img src="resources/img/5.jpg" alt="5">
             </figure>
         </li>
         <li>
             <figure class="myphoto1">
                  <img src="resources/img/6.jpg" alt="6">
             </figure>
         </li>
         <li>
             <figure class="myphoto1">
                  <img src="resources/img/7.jpg" alt="7">
             </figure>
         </li>
         <li>
             <figure class="myphoto1">
                  <img src="resources/img/8.jpg" alt="8">
             </figure>
         </li>
     </ul>
 </section>