
<h2>Restore Password</h2>
<center>
<div class = "restore-box" >
    <p ng-show="!show" class="ng-hide" stayle ="margin-top:20px; margin-bottom:20px;">WRITE YOUR USER NAME AND SUBMIT TO SEE YOUR QUESTION:</p>
        <input type="text" 
                ng-show="!show"
                name="username" 
                style="width: 350px; margin-top:20px; margin-bottom:20px;" 
                id="username" class="form-control"
                ng-model="name"
                required
                placeholder="Enter Username"/>
        <br>
        <div class="form-actions">   
        <div >
            <a href="#/RestorePassword" ng-show="!show" class="btn btn-link" ng-click="getQuestion()">OK</a>
        </div>

    <p ng-bind="msg1" ng-show="!show"></p>   
    <p ng-bind="msg" ng-show="show"></p>
    <input type="text" 
            name="ans" 
            style="width: 350px; margin-top:20px; margin-bottom:20px;" 
            id="answer" class="form-control"
            ng-model="answer"
            required
            ng-show="show"
            placeholder="Enter Answer"/>
    <div>
        <a href="#/RestorePassword" ng-show="show" class="btn btn-link" ng-click="getPassword()">OK</a>
    </div>
    <br>
    <p  ng-show="showWrongPass">{{Wrongpassword}}</p>
    <p  ng-show="showPass">{{password}}</p>
</div>
</center>
<br></br>

<div class="grid-container" >
        <div ng-click="RPassCtrl.openPOI(name1)">{{name1}}</div>
        <div ng-click="RPassCtrl.openPOI(name2)">{{name2}}</div>
        <div ng-click="RPassCtrl.openPOI(name3)">{{name3}}</div>
        <div >
            <figure class="myphoto">
                <img ng-src="{{url1}}" style="width:100%" ng-click="RPassCtrl.openPOI(name1)"></img>
            </figure>
        </div>
        <div >
                <figure class="myphoto">
            <img ng-src="{{url2}}" style="width:100%" ng-click="RPassCtrl.openPOI(name2)"></img>
        </figure>
                </div>
        <div>
                <figure class="myphoto">
            <img ng-src="{{url3}}" style="width:100%" ng-click="RPassCtrl.openPOI(name3)"></img>
            </figure>
        </div>
</div>



<div id="poiModal" class="modal-POI">    
    <div class="modal-content">  
        <div>
            <h2>   {{POIName}}</h2>
            <div class="col span-1-of-3" style="margin-left: 30%;" >
                    <i class="ion-trophy icon-big"></i>
                    <h3>Rank: {{Rank}}%</h3>
                </div>
                <div class="col span-1-of-3" "margin-right: 30%;">
                    <i class="ion-eye icon-big"></i>
                    <h3>Views: {{NumOfViews}}</h3>
                </div>
                <div class="col span-1-of-3">
                        <div class="qa-box" style="margin-left: 20%">
                            <div class="box-content">
                                <h3>Discription</h3>
                            </div>
                            <div>
                                <ul>
                                        <li>{{Description}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col span-1-of-5">
                    </div>
                <div class="col span-1-of-3" style="margin-right: 5%">
                        <div class="poipic1-box" >
                           <div class="poipic2-box" >
                                <div class="box-content">
                                <figure  class="myphoto" >
                                        <img ng-src="{{POIPicture}}"></img>
                                </figure>
                            </div>
                             </div>
                        </div>
                    </div>
                    </div>
                
                    <div class="row" >
    
                            <div class="col span-1-of-2 box" >
                            <div style="margin-left: 40%">
                                <i class="ion-ios-chatboxes icon-big"></i>
                                <p>Review Date:</p>
                                <p>{{Review1Date}}</p>
                                <h3>{{Review1}}</h3>
                                </div>
                            </div>
                            <div class="col span-1-of-2 box">
                                    <div style="margin-right: 15%; margin-left: 20%;">
                                    <i class="ion-ios-chatboxes icon-big"></i>
                                    <p>Review Date:</p>
                                    <p>{{Review2Date}}</p>
                                <h3>{{Review2}}</h3>
                                </div>
                            </div>
                   </div>
        </div>
    </div>
    </div>


